* {
    outline: none !important;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.claro {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: .75em; /*.9 is default? was .8*/
    color: #131313;
}
.claro .dijitTooltipContents {
   /* max-width: 300px;*/
    line-height: 1.7;
}
a:link, a:visited {
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}
a img {
    border: none;
}

#content {
    height: 100%;
}
#topPane {
    padding: 0;
}

#mainToolbar {
    background-color: #D8E4F2;
    padding: 5px 5px 5px 200px;
}

#mainToolbar #toolbar\.about {
    margin: 7px 2px 7px 2px;
}
#logo {
    position: absolute;
    top: 5px;
    left: 5px;
}
#mapPane {
    height: 100%;
    padding: 0;
}
#table {
     left: 5px;
     right: 5px;
     top: 5px;
     bottom: 5px;
     height: auto;
 }
#resultsGrid {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 37px;
    bottom: 5px;
    height: auto;
}
#map {
    height: 100%;
}
.nonModal_underlay {
    display: none
}

.keyIcon {
    background-image: url("../resources/images/key_go.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    text-align: center;
}

.searchIcon {
    background-image: url("../resources/images/find.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    text-align: center;
}
.modernRangeIcon {
    background-image: url("../resources/images/poly_32.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    text-align: center;
}
.mapIcon {
    background-image: url("../resources/images/map.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    text-align: center;
}
.tableIcon {
    background-image: url("../resources/images/table.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    text-align: center;
}
.printIcon {
    background-image: url("../resources/images/printer.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    text-align: center;
}
.helpIcon {
    background-image: url("../resources/images/help.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    text-align: center;
}
.advancedTaxaIcon {
    background-image: url("../resources/images/gear_in.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}
.currentSearchesIcon {
    background-image: url("../resources/images/layerList.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
.datasetsTrayIcon {
    background-image: url("../resources/images/datasetTray.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
.userSettingsIcon {
    background-image: url("../resources/images/gear_in_32.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
.calendarIcon {
    background-image: url("../resources/images/calendar.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}
.smallIcon {
    background-image: url("../resources/images/small.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
}
.mediumIcon {
    background-image: url("../resources/images/medium.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
}
.largeIcon {
    background-image: url("../resources/images/large.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
}
.circleIcon {
    background-image: url("../resources/images/circle.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
}
.squareIcon {
    background-image: url("../resources/images/square.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
}
.triangleIcon {
    background-image: url("../resources/images/triangle.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
}
.starIcon {
    background-image: url("../resources/images/star.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
}
.glacialIcon {
    background-image: url("../resources/images/poly_32_white.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    text-align: center;
}
.miniHelp {
    margin-left: 5px;
    margin-bottom: -3px;
    width: 16px;
    height: 16px;
}

.claro .dijitBorderContainer {
    background-color: #FFF;
}

/*for SimpleSearch and SearchProperties form control alignment */
.dijitToggleButton {
    margin: 0;
}
.fixht {
    height: 33px;
}
.col1 {
    min-width: 80px;
    max-width: 80px;
}
.col1_2 {
    min-width: 110px;
    max-width: 110px;
}
.col2 {
    padding-left: 5px;
}
.col3 {
    min-width: 45px;
}
.fixht3 {
    height: 40px;
}

.dgrid {
    height: auto;
}
.dgrid .dgrid-header {
    font-size: 10px;
}
.dgrid-row-odd {
    background: #F2F5F9;
}

.field-siteid {
    width: 65px;
}
.field-datasetid {
    width:70px;
}
.field-datasettype {
    width:27px;
}
.field-sitename {
    width: 200px;
}
/*.field-LatitudeNorth {
    width: 75px;
}
.field-LongitudeWest {
    width: 75px;
}*/
/*llChange*/
.field-latitude {
    width: 75px;
}
.field-longitude {
    width: 75px;
}
.field-ageoldest {
    width: 75px;
}
.field-ageyoungest {
    width: 85px;
}

/*for grid in advanced taxa widget*/
.field-selCol {
    width: 30px;
}
.fixht2 {
    height: 220px;
}

/* site pop-up*/
.sitepop .col1 {
    min-width: 80px;
    font-weight: bold;
    color: #898A8B;
    vertical-align: top;
}
.sitepop .col2 {
    padding-left: 5px;
    padding-bottom: 5px;
    vertical-align: top;
    word-wrap: break-word;
    /*max-width: 170px;*/
    min-width: 170px;
}

.sitepop.dsToggle {
    display: inline;
    float: left;
}
.sitepop.dsToggle div {
    display: inline;
    padding: 0;
    cursor: pointer;
    font-size: .9em;
    color: #808080;
    vertical-align: top;
}
.sitepop.dsToggle .dstActive {
    font-weight: bold;
    color: #555454;
}

.sitePopupToolbar {
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
    padding: 1px 4px;
}
.addDatasetToolbarButtonIcon {
    background-image: url("../resources/images/folder_add14.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 14px;
    text-align: center;
}
.zoomToSiteToolbarButtonIcon {
    background-image: url("../resources/images/zoom.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
}
.boundingBoxToolbarButtonIcon {
    background-image: url("../resources/images/shape_square.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
}
.bboxOff {
    background-color: transparent;
}
.bboxOn {
    background-color: red
}

.mini, .mini div {
    padding: 0;
    border: 0;
}
.mini button, button.mini {
    width: 18px;
    height: 16px;
    cursor: pointer;
    padding: 0;
    border: 0;
}

button.print {
    background: url("../images/print16.png") no-repeat center;
}

button.mini {
    float: right;
}
.mini button.dsView {
    background: url("../resources/images/eye16.png") no-repeat center;
}
.mini button.dsAdd, .dsAdd {
    background: url("../resources/images/add16.png") no-repeat center;
}
.mini button.dsRemove, .mini.dsRemove {
    background: url("../resources/images/erase12.png") no-repeat center;
}
.mini button.dsSave {
    background: url("../resources/images/disk.png") no-repeat center;
}
.mini button.dsDOI {
  background: url("../resources/images/doi.png") no-repeat center;
}
.mini button.dsUp {
    background: url("../resources/images/arrow_up16.png") no-repeat center;
}
.mini button.dsDown {
    background: url("../resources/images/arrow_down16.png") no-repeat center;
}
.mini button.dsEmail {
    background: url("../resources/images/email_open.png") no-repeat center;
}

.mini .dijitTooltipContainer, .mini .dijitTooltipContents.dijitTooltipFocusNode {
    padding: 0;
}
.mini .dijitTooltipConnector {
    display: none;
}
.mini .dijitToolbar {
    border: 0;
    background-color: transparent;
    background-image: none;
    padding: 2px;
}

/* chron metadata */
.chronmeta .lbl, .stratDiagram tr.lbl {
    font-weight: bold;
    color: #898A8B;
    height: 28px;
    vertical-align: bottom;
}

/* stratigraphic diagram left pane */
.stratDiagram tr {
    vertical-align: top;
}
.stratDiagram td.c1 {
    padding-left: 5px;
}
.spacer {
    margin: 10px 0 25px 0;
}

/* site metadata */
.claro h3 {
    color: #757575;
}
.sitemeta {
    margin-left: 10px;
}
.sitemeta .col1 {
    font-weight: bold;
    color: #898A8B;
    width: 80px;
    vertical-align: top;
}
.sitemeta .col2 {
    padding-left: 10px;
    max-width: 500px;
    vertical-align: top;
}

/* publications */
p.cite {
    max-width: 700px;
    padding-left: 3em;
    text-indent: -3em;  /* hanging indent */
    margin-left: 10px;
}

/* specific widths for columns in dataset samples grid*/
.wideCols {
    height: auto;
}
.wideCols .dgrid-row {
    height: 22px;
}
.wideCols .dgrid-cell {
    width: 80px; /* force all columns to have SOME width */
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wideCols .field-name {
    width: 125px;
}
.wideCols .field-group {
    width: 95px;
}
.wideCols .field-element {
    width: 70px;
}
.wideCols .field-units {
    width: 60px;
}
.wideCols .field-context {
    width: 60px;
}


#loader {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0.98;
    padding: 0;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 100%;
    z-index: 999;
}
#loadingContent {
    font-family: Verdana, Geneva, Arial, sans-serif;
    color: black;
    position: absolute;
    top: 43%;
    left: 43%;
    width: 240px;
    height: 70px;
    visibility: visible;
    z-index: 1000;
}

.hide {
    visibility: hidden;
}

.disabled {
    color: lightgray;
}

.dijitToolbar.searchToolbar {
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
    padding: 6px 4px;
}

.myDialogs {
    -webkit-border-radius: 5px;
    border-radius:5px 5px 8px 8px;
}

.siteDatasetsGrid {
    margin: 0 15px 20px 20px;
    max-height: 200px;
    overflow-y: auto !important;
}
.siteDatasetsGrid .field-datasettype {
    width: 22px;
}
.siteDatasetsGrid .field-datasetid {
    width: 170px;
}
.siteDatasetsGrid .dgrid-scroller {
    position: relative;
    overflow: hidden;
}
.siteDatasetsGrid .dgrid-header-scroll {
    display: none;
}
.siteDatasetsGrid .dgrid-header {
    right: 0;
}

.selectedDatasetsGrid .field-datasettype {
    width: 22px;
}
div.selectedDatasets {
    margin-top: 10px;
}
.selectedDatasets label {
    margin-right: 8px;
}

.selectedDatasetsGrid .dgrid-cell, .siteDatasetsGrid .dgrid-cell {
    border: none;
}

/*.accessTokensGrid .field-id {
    width: 80px;
}*/

.accessTokensGrid .field-remove {
    width: 18px;
}

.dijitToasterContainer {
    margin-top: 50px;
}

.dijitToasterContent {
    padding: 1em;
    font-size: .916em;
    background: #ffffd7;
    color: black;
    border-radius:0 0 0 5px;
    border-style: solid;
    border-width: 1px;
    border-bottom-color: #6b6b6b;
    border-left-color: #6b6b6b;
    border-top-color: transparent;
    border-right-color: transparent;
}

.searchesGrid .field-selCol {
    width: 15px;
}
.searchesGrid .field-id {
    width: 15px;
}
.searchesGrid .field-name {
    width: 150px;
}

.searchesGrid .dgrid-scroller {
    position: relative;
    overflow: hidden;
}
.searchesGrid .dgrid-header-scroll {
    display: none;
}
.searchesGrid .dgrid-header {
    right: 0;
}

.dijitHiddenSWF {
	height: 0;
    display: block !important;	
	position: relative;		
}
.dijitVisibleSWF {
	height: 100%;
    /*color: red;*/
	display: block !important;	
	position: relative;				
}

.uiNote {
    padding: 5px;
    background-color: #ffffd7;
    font-size: .9em;
    color: #8a8a8a;
}

.hideAdvancedFormOption {
    display: none;
}

.showAdvancedFormOption {
    display: block;
}

.polygonIcon {
    background-image: url("../resources/images/layer_shape_polyline.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
}
.boxIcon {
    background-image: url("../resources/images/layer_shape.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
}
.pointIcon {
    background-image: url("../resources/images/point_buffer.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
}

.clearIcon {
    background-image: url("../resources/images/erase16.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
}

.drawToolbar {
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
    padding: 6px 4px;
}

.spatialSearchPane {
    width:270px;
}

.spatialSearchIcon {
    background-image: url("../resources/images/map_edit.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    text-align: center;
}

.animationSearchesGrid {
    margin-top: 5px;
    margin-bottom: 5px;
}

.searchResultsGrid {
    margin-top: 5px;
}

/*.ageDiv {
    z-index:2000;
    position:absolute;
    top:30px;
    right:80px;
    font-size:36px;
    font-weight:700;
    background-color:white;
}

.ageDiv {
    float:right;
    font-size:36px;
    font-weight:700;
    margin:3px 30px 5px 30px;
}
*/

#ageDiv {
    font-size: 36px;
    width: 100%;
    text-align: center;
    background-color: lightgoldenrodyellow;
}

.clearAllButtonIcon {
    background-image: url("../resources/images/erase16.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
}
.toggleButtonIcon {
    background-image: url("../resources/images/accordion.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
}
.basicSearchButtonIcon {
    background-image: url("../resources/images/find16.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
}
.advSearchButtonIcon {
    background-image: url("../resources/images/wizard.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
}

.colSF1 {
    min-width: 80px;
    max-width: 80px;
}

.colSF2 {
    min-width: 250px;
    max-width: 250px;
    padding-left: 5px;
}

.tax td.colSF1 {
    min-width: 85px;
    max-width: 85px;
}
.meta td.colSF1 {
    min-width: 110px;
    max-width: 110px;
}
.meta td.colSF2 {
    min-width: 225px;
    max-width: 225px;
    padding-left: 5px;
}
.ageLookup td.col1 {
    min-width: 60px;
    max-width: 60px;
}
.space td.colSF1 {
    min-width: 60px;
    max-width: 60px;
}
.space td.colSF2 {
    min-width: 250px;
    max-width: 250px;
    padding-left: 5px;
}
.geopol td.colSF2 {
    min-width: 208px;
    max-width: 208px;
    padding-left: 5px;
}
.geopol td.colSF1 {
    min-width: 90px;
    max-width: 90px;
}
table.sub {
    background-color: #EAF4FD;
}

.txtIndent {
    text-indent: 14px;
}
.padIndent {
    padding-left: 14px;
}

.btnSpace {
    margin-top: 12px;
}

.dijitToolbar.shape {
    padding: 0;
    background-color: transparent;
    background-image: none;
    border: none;
}
td.colSF2>.dijitContentPane {
    padding: 0;
}
.advSearch td.col1 {
    min-width: 98px;
    max-width: 98px;
}

.highlightEmbargoedRow {
    background-color: #8B8383;
}