<div id="advancedTaxaForm">
    <table>
        <tr class="fixht">
            <td>Taxa group</td>
            <td class="col2"><div data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="style:'width:204px;', required:false, searchAttr:'taxagroup', invalidMessage:'Taxa group not found'" data-dojo-attach-point="taxaGroup"></div></td>
        </tr>
        <tr class="fixht">
            <td>Search for</td>
            <td class="col2"><div data-dojo-type="dijit/form/TextBox" data-dojo-props="style:'width:165px;', required:false" data-dojo-attach-point="searchText" ></div><button data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:goClick">Go</button></td>
        </tr>
        <tr class="fixht2">
            <td colspan="2">
                <div data-dojo-type="neotoma/widget/AdvancedTaxaGrid" class="advancedTaxaGrid" style="height:200px;width:278px;overflow:auto;" data-dojo-attach-point="selectedTaxaGrid"></div>
           </td>
        </tr>
    </table>
    <div data-dojo-id="advancedTaxaStandby" data-dojo-type="dojox/widget/Standby" data-dojo-props="target:'selectedTaxaGrid'"></div>
</div>