<div>
    <table>
        <tr class="fixht">
            <td class="colSF1">Elememt Type</td>
            <td class="colSF2"><input type="text" data-dojo-type="dijit/form/TextBox" data-dojo-props="required:false, placeholder:''" name="elementType"/></td>
        </tr>
        <tr class="fixht">
            <td class="colSF1">Taphonomic System</td>
            <td class="colSF2"><select data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="required:false, placeholder:''" name="taphonomicSystem"></select></td>
        </tr>
        <tr class="fixht">
            <td class="colSF1">Taphonomic Type</td>
            <td class="colSF2"><select data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="required:false, placeholder:''" name="taphonomicType"></select></td>
        </tr>
    </table>
</div>