<div class="dijitDialog" role="dialog" aria-labelledby="${id}_title">
	<div data-dojo-attach-point="titleBar" class="dijitDialogTitleBar">
		<span data-dojo-attach-point="titleNode" class="dijitDialogTitle" id="${id}_title"
				role="heading" level="1"></span>
		<span data-dojo-attach-point="closeButtonNode" class="dijitDialogCloseIcon" data-dojo-attach-event="ondijitclick: onCancel" title="${buttonCancel}" role="button" tabIndex="-1">
			<span data-dojo-attach-point="closeText" class="closeText" title="${buttonCancel}">x</span>
		</span>
	</div>
	<div data-dojo-attach-point="containerNode" class="dijitDialogPaneContent">
        <div data-dojo-type="neotoma/form/SearchProperties"  data-dojo-attach-point="SearchProperties"></div>
        <div data-dojo-type="dijit/layout/ContentPane" class="dijitDialogPaneActionBar">
            <button data-dojo-type="dijit/form/Button"  data-dojo-props="name:'save'" data-dojo-attach-event="onClick:saveClick">Apply</button>
        </div>
	</div>
</div>