<div>
    <input type="text" data-dojo-type="dijit/form/NumberTextBox" data-dojo-props="style:'width:45px;', constraints:{places:0}, placeHolder:'oldest', invalidMessage:'Value must be an integer', value:20000" data-dojo-attach-point="ageOlder" /> to
    <input type="text" data-dojo-type="dijit/form/NumberTextBox" data-dojo-props="style:'width:45px;', constraints:{places:0}, placeHolder:'youngest', invalidMessage:'Value must be an integer', value:0" data-dojo-attach-point="ageYounger"/> yr BP
</div>