<div>
    <div data-dojo-type="dijit/layout/AccordionContainer">
        <div data-dojo-type="dijit/layout/AccordionPane" title="Search Form">
            <p>
                Search form height
                <input id="spinFormHt"
                       data-dojo-type="dijit/form/NumberSpinner"
                       data-dojo-props="intermediateChanges:true, smallDelta:50, constraints:{min:400,max:850, places:0}, style:'width:60px', value:400"
                       data-dojo-attach-event="onChange:spinHtChange" />
            </p>
        </div>
    </div>
</div>